
.App {
  text-align: center;
  max-height: 100vh;
  overflow: hidden;
}

.App-logo {
  height: 20rem;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-user-select: none;
}

.App-header {
  background: rgba(33, 33, 33, 255);
  min-height: 94vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}

.App-header > p {
    margin-bottom: 0.5rem;
}

.App-link {
  color: rgba(96, 165, 250, 255);
  font-size: 1.25rem;
}